# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
env/

# Django
*.log
staticfiles/
media/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Byte-compiled / temporary files
*.sqlite3
