* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: linear-gradient(to right, #939b8f 0%, #616F39 100%);
  margin: 0;
  padding: 0;
  color: #000;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
  background-color: transparent;
  color: #ffffff;
  padding: 60px 20px;
  margin: 0;
}

.hero-container {
  background-color: transparent;
  max-width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background-color: transparent !important;
  z-index: 1030;
  color: #ffffff;
  box-shadow: none;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background: linear-gradient(to right, #e4e4e1 0%, #FFD98E 100%) !important;
}

.navbar.scrolled .nav-link {
  color: #071a34;

}

.navbar .nav-link {
  position: relative;
  color:   #d45b3c;
  text-decoration: none;
  font-weight: 500;
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #FF8364;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navbar .nav-link:hover {
  color: #FF8364;
}

.navbar-brand img {
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.navbar.scrolled .navbar-brand img {
  filter: none;
}

.card-body {
  background-color: #FFB677;
}

.card {
  background: #FFD98E !important;
  border: gold;
}

.btn {
  background-color: #2d3436;
  color: white;
  border: none;

}

/* Space for fixed navbar */
.app-wrapper {
  display: flex;
  margin-top: 120px;
  /* must match navbar height */
  min-height: calc(100vh - 120px);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

main {
  position: absolute;
  top: var(--navbar-height);
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  padding: 1.5rem;
}

/* Content */
.content {
  flex: 1;
  padding: 2rem;
  background: #fff;
}